<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Register</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/iconnew.png">

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block ">
                        <img class=" lazyloaded" data-src="https://image.vietnamnews.vn/MediaUpload/Adv/2023/10/27/10202327175351_Right.jpg" alt="" src="https://image.vietnamnews.vn/MediaUpload/Adv/2023/10/27/10202327175351_Right.jpg" width="100%">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" action="addRegister" method="POST" role="form" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="username" name="username"
                                            placeholder="User Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control form-control-user" id="email" name="email"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" name="password"
                                        placeholder="exampleInputPassword">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="displayname" name="displayname" placeholder="Display name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="fistname" name="fistname" placeholder="fistname">
                                    </div>
                                </div>
                                <!--  -->
                                <div class="form-group ">
                                        <input type="text" class="form-control form-control-user"
                                            id="lastname" name="lastname" placeholder="last name">
                                   
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                                <!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a> -->
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function validateForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var email = document.getElementById("email").value;
            var displayname = document.getElementById("displayname").value;
            var fistname = document.getElementById("fistname").value;
            var lastname = document.getElementById("lastname").value;

            if (username.trim() === "") {
                alert("Vui lòng nhập tên người dùng.");
                return false;
            }

            if (password.trim() === "") {
                alert("Vui lòng nhập mật khẩu.");
                return false;
            }
            if (email.trim() === "") {
                alert("Vui lòng nhập email của bạn.");
                return false;
            }
            if (displayname.trim() === "") {
                alert("Vui lòng nhập tên trưng bày.");
                return false;
            }
            if (fistname.trim() === "") {
                alert("Vui lòng nhập tên.");
                return false;
            }
            if (lastname.trim() === "") {
                alert("Vui lòng nhập họ.");
                return false;
            }

            if (username.length < 8) {
                alert("Tên người dùng phải có ít nhất 8 ký tự.");
                return false;
            }

            if (password.length < 4) {
                alert("Mật khẩu phải có ít nhất 4 ký tự.");
                return false;
            }

            if (password.toLowerCase() === password.toUpperCase()) {
                alert("Mật khẩu phải chứa ít nhất một ký tự khác nhau.");
                return false;
            }

            return true;
        }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

</body>

</html>